MONGO_PASSWORD=finella_secret
JWT_SECRET=bc163023-7109-47c9-902a-604477375e89
JWT_REFRESH_SECRET=bc163023-7109-47c9-902a-604477375e89
ENCRYPTION_KEY=AqlFhVPgOBy03TmtDLRopcjne12JSNMb
HMAC_SECRET=e2b6e1ea-04d7-4cd9-af1d-b967672fb50b

# Plaid — Optionnel (connexion bancaire temps réel)
# Obtenez vos clés sur https://dashboard.plaid.com/developers/keys
# Plaid — https://dashboard.plaid.com/developers/keys
PLAID_CLIENT_ID=69b382ab3b4bfa000e7cbafc
PLAID_SECRET=b54c55d50cf2ed353a224c1fb5db72
PLAID_ENV=sandbox
