DATABASE_URL=mongodb+srv://ingridestch04_db_user:r6aRmxrGMX2OhDnC@clusterfinella.enoqwzf.mongodb.net/?appName=ClusterFINELLA
REDIS_URL=redis://localhost:6379
JWT_SECRET=bc163023-7109-47c9-902a-604477375e89
JWT_REFRESH_SECRET=bc163023-7109-47c9-902a-604477375e89
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
ENCRYPTION_KEY=AqlFhVPgOBy03TmtDLRopcjne12JSNMb
HMAC_SECRET=e2b6e1ea-04d7-4cd9-af1d-b967672fb50b
ALLOWED_ORIGINS=http://localhost:5173
PORT=3000
NODE_ENV=development
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=100
# Plaid — https://dashboard.plaid.com/developers/keys
PLAID_CLIENT_ID=69b382ab3b4bfa000e7cbafc
PLAID_SECRET=b54c55d50cf2ed353a224c1fb5db72
PLAID_ENV=sandbox